<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IvoPay - Simplifying Your Payments</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" href="style.css">
</head>
<body>
<header>
    <h1>iVoPay</h1>
</header>
<main>
    <form id="loginForm" method="POST">
        <h2>Login</h2>
        <div th:if="${param.error}">
            <h3>Invalid Username or Password</h3>
        </div>
        <div id="messageContainer" th:if="${param.logout}">
            <h3>Logout Successfuly</h3>
        </div>
        <input type="text" placeholder="Enter Username" name="username" required>
        <input type="password" placeholder="Enter Password" name="password" required>
        <input type="submit" value="Login">
    </form>
    <p>New User? <a th:href="${model.register}" href="register.html">Register</a></p>
</main>
<script type="text/javascript" th:src="@{/js/login.js}"></script>
</body>
</html>
