<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IvoPay - Simplifying Your Payments</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" href="style.css">
</head>
<body>
<header>
    <h1>iVoPay</h1>
</header>
<main>
    <form method="POST">
        <h2>Register User</h2>
        <div id="messageContainer" th:if="${model.containsKey('message')}">
            <h3>Registration Successful</h3>
        </div>
        <div th:if="${param.error}">
            <h3>Registration Unsuccessful</h3>
        </div>
        <input type="text" placeholder="Enter Full Name" name="fullName" required>
        <input type="email" placeholder="Enter Email ID" name="emailId" required>
        <input type="tel" placeholder="Enter Phone Number" name="phoneNumber" pattern="[0-9]{10}" title="Please enter a valid 10-digit phone number" required>
        <input type="text" placeholder="Enter Username" name="username" required>
        <input type="password" placeholder="Enter Password" name="password" required>
        <input type="submit">
    </form>
    <p>Already have an account? <a th:href="${model.login}" href="login.html">Login</a></p>
</main>
<script type="text/javascript" th:src="@{/js/login.js}"></script>
</body>
</html>