<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IvoPay - Simplifying Your Payments</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sendmoney.css}" href="style.css">
</head>
<body>
<header style="display: flex; justify-content: space-between; align-items: center;">
    <h1 style="margin: 0;">iVoPay</h1>
    <div>
        <a href="/home" style="text-decoration: none; color: #fff; margin-right: 20px">Home</a>
        <a onclick="openModal()" style="text-decoration: none; color: #fff; margin-right: 20px">Profile</a>
        <a href="/logout" style="text-decoration: none; color: #fff;">Logout</a>
    </div>
</header>
<main>
    <h2>Send Money</h2>
    <div class="icon-buttons" th:if="${bankDetails}">
        <a class="cta-button" onclick="showDiv()"><i class="fas fa-balance-scale"></i> Check Balance</a>
        <div id="hiddenDiv" style="display: none;"><h2 style="text-align: center;"
                                                       th:text="| Rs.${bankDetails.getBalance()}|">Rs.2932</h2></div>
    </div>
    <div th:if="${param.sameNumber}" id="mySameNumberDiv" style="color: red;display:none;">
        <h3>You Can't Send Money To Your Account</h3>
    </div>
    <div th:if="${param.notExist}" id="mynotExistDiv" style="color: red;display:none;">
        <h3>User Not Found</h3>
    </div>
    <form action="/findUpi" method="POST" th:unless="${toUser}">
        <div>
            <label for="phoneNumber">Enter Phone Number:</label>
            <input type="tel" id="phoneNumber" name="phoneNumber" pattern="[0-9]{10}"
                   title="Please enter a valid 10-digit phone number" required>
            <button class="cta-button" type="submit">Find</button>
        </div>
    </form>
    <div th:if="${toUser}">
        <h4 style="text-align: center">Sending Money To</h4>
        <p style="text-align: center">Receiver UPI Id: <span th:text="${toBank.getUpiId()}">ID</span></p>
        <p style="text-align: center">Receiver Name: <span th:text="${toUser.getFullName()}">Name</span></p>
        <p style="text-align: center">Receiver Phone Number: <span
                th:text="${toUser.getPhoneNumber()}">Phone</span></p>
        <p style="text-align: center">Receiver Email Id: <span th:text="${toUser.getEmailId()}">Email</span></p>
        <h4 style="text-align: center">Sending To Bank</h4>
        <p style="text-align: center">Bank Name: <span th:text="${toBank.getBankName()}">Name</span></p>
        <p style="text-align: center">Bank Account Number: <span th:text="${toBank.getAccountNumber()}">Name</span>
        </p>
        <p style="text-align: center">Bank IFSC Code: <span th:text="${toBank.getIfscCode()}">Name</span></p>
        <button class="cta-button" style="float: right" onclick="location.href='/pay'">Continue</button>
    </div>

</main>

<div id="myModal" class="modal">
    <div class="modal-content">
        <span style="padding-left: 80%;" onclick="closeModal()">&times;</span>
        <h2>User Information</h2>
        <p>User ID: <span th:text="${user.getId()}">John Doe</span></p>
        <p>Name: <span th:text="${user.getFullName()}">John Doe</span></p>
        <p>Email: <span th:text="${user.getEmailId()}">john.doe@example.com</span><br><a class="cta-button"
                                                                                         onclick="openChangeEmailModal()"
                                                                                         style="text-decoration: none;">Change
            Email</a></p>
        <p>Phone Number: <span th:text="${user.getPhoneNumber()}">123456789</span><br><a class="cta-button"
                                                                                         onclick="openChangePhoneNumberModal()"
                                                                                         style="text-decoration: none;">Change
            Phone Number</a></p>
        <p>Username: <span th:text="${user.getUsername()}">John Doe</span></p>
    </div>
</div>
<div id="changeEmailModal" class="modal">
    <div class="modal-content">
        <span style="padding-left: 80%;" onclick="closeChangeEmailModal()">&times;</span>
        <h2>Change Email</h2>
        <form action="/change/email" method="POST">
            <label for="newEmail">New Email:</label>
            <input type="email" id="newEmail" name="emailId" required>
            <button class="cta-button" type="submit">Change</button>
        </form>
    </div>
</div>
<div id="changePhoneNumberModal" class="modal">
    <div class="modal-content">
        <span style="padding-left: 80%;" onclick="closeChangePhoneNumberModal()">&times;</span>
        <h2>Change Phone Number</h2>
        <form action="/change/phonenumber" method="POST">
            <label for="newPhoneNumber">New Phone Number:</label>
            <input type="tel" id="newPhoneNumber" name="phoneNumber" pattern="[0-9]{10}"
                   title="Please enter a valid 10-digit phone number" required>
            <button class="cta-button" type="submit">Change</button>
        </form>
    </div>
</div>
<footer>
    &copy; 2024 IvoPay. All rights reserved.
</footer>
<script type="text/javascript" th:src="@{/js/sendmoney.js}"></script>
</body>
</html>
